*{
    box-sizing: border-box;
}


body {
    color: #212121;
    background-color: #fafafa;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    border: 1px solid #5fd8d2;
}

h1 {
    margin: 0;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.breed-select { 
    display: none;
    max-width: 400px;
    margin: auto;
} 

.loader {
    font-size: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: 20% auto;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: " ";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 6px solid #50d6d0;;
    animation: prixClipFix 5s linear infinite;
}

.loader::after {
    inset: 10px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: red;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.cat-info {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: #e5f3f2;
    border: 1px solid #50d6d0;
}

.box-img {
    align-items: center;
    display: flex;
}

.box {
    width: 400px;
}